<head>
  {% include "partials/header.html" %}
  <script src="/assets/tablesort.js"></script>
</head>

<body>
  <div class="content">
    {% include "partials/navbar.html" %}
    <div class="showcase">
        <img class="showcase-img" alt="IMGEN-LOGO" src="./assets/ambu.png" />
        <h1 class="slogan">ERROR <span>404</span> ENDPOINT DOESN'T EXIST </h1>
        <code class="code-sample ">try --reading <span>"the: docs"</span> 😅</code>
        <div class="buttons">
            <a href="/docs" class="showcase-button">Docs</a>
        </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
