<head>
  {% include "partials/header.html" %}
</head>

<body>
  <div class="content">
    {% include "partials/navbar.html" %}
    <div class="side-nav">
            <h1>Contents</h1>
            <a href="#endpoints">Request</a>
            <a href="#headers">Headers</a>
            <a href="#list">List</a>
      </div>
    <div class="actual-content">
      <div id="endpoints" style="margin-left: 13rem;">
          <h1>Endpoints</h1>
          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">REQUEST </b>https://imgen.herokuapp.com/{endpoint-name}</p>
            <p>Supported Query Parameters: </p>
              <kbd>text: String. Text to show on the generated image.</kbd><br><br>
              <kbd>usernames: String. Username(s) to show on the generated image.</kbd><br><br>
              <kbd>avatars: String. Avatar(s) to show on the generated image.</kbd>
          </div>
      </div>
      <div id="headers" style="margin-left: 13rem;">
          <div class="card">
              <h1>Headers</h1>
                <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">HEADERS </b>All requests must be made with necessary headers</p>
              <kbd>avatars: Dict. {'avatars': 'link1,link2'}</kbd><br><br>
              <kbd>usernames: Dict. {'usernames': 'username1,username2'}</kbd><br><br>
              <kbd>text: Dict. {'avatars': "hi,how are"}</kbd>
          </div>
          </div>
      </div>
      </div><br><br>
      <div id="list" style="margin-left: 15rem;">
          <h1>List of endpoints</h1>
        <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/abandon</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/aborted</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/affect</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/airpods</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/america</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/armor</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/balloon</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/bed</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>avatar2: Image URL. Used when two users are involved. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/bongocat</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/boo</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/brain</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/brazzers</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/byemom</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>username1: String. Username for the first user.</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/cancer</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/changemymind</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/cheating</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/citation</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/communism</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/confusedcat</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/corporate</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/crab</p>

            <p>Details:</p>
            <kbd><br>    This endpoint returns an MP4 file. Make sure your application knows how to handle this format.<br>    Malformed requests count against your ratelimit for this endpoint.<br>    Separate text with a comma.<br>    </kbd>

            <p>Rate Limit</p>
            <kbd>1 request per 30 seconds</kbd>
            <p>Supported Query Parameters: </p>


                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/cry</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/dab</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/dank</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/deepfry</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/delete</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/disability</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/doglemon</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/door</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/egg</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/excuseme</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/expanddong</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/expandingwwe</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/facts</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/failure</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/fakenews</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/farmer</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/fedora</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/floor</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/fuck</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/garfield</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>



                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/gay</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/godwhy</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/goggles</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/hitler</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/humansgood</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/inator</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/invert</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/ipad</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/jail</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/justpretending</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/keepurdistance</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/kimborder</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/knowyourlocation</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/kowalski</p>

            <p>Details:</p>
            <kbd><br>    This endpoint returns an MP4 file. Make sure your application knows how to handle this format.<br>    Malformed requests count against your ratelimit for this endpoint.<br>    Separate text with a comma.<br>    </kbd>

            <p>Rate Limit</p>
            <kbd>1 request per 30 seconds</kbd>
            <p>Supported Query Parameters: </p>


                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/laid</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/letmein</p>

            <p>Details:</p>
            <kbd><br>    This endpoint returns an MP4 file. Make sure your application knows how to handle this format.<br>    Malformed requests count against your ratelimit for this endpoint.<br>    </kbd>

            <p>Rate Limit</p>
            <kbd>1 request per 30 seconds</kbd>
            <p>Supported Query Parameters: </p>


                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/lick</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/madethis</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>avatar2: Image URL. Used when two users are involved. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/magik</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/master</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/meme</p>

            <p>Details:</p>
            <kbd><br>    This endpoint works a bit differently from the other endpoints.<br>    This endpoint takes in top_text and bottom_text parameters instead of text.<br>    It also supports color and font parameters.<br>    Fonts supported are: arial, arimobold, impact, robotomedium, robotoregular, sans, segoeuireg, tahoma and verdana.<br>    Colors can be defined with HEX codes or web colors, e.g. black, white, orange etc. Try your luck ;)<br>    The default is Impact in white<br>    </kbd>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>top_text: Endpoint specific parameter</kbd><br>



                <kbd>bottom_text: Endpoint specific parameter</kbd><br>



                <kbd>color: Endpoint specific parameter</kbd><br>



                <kbd>font: Endpoint specific parameter</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/note</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/nothing</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/obama</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/ohno</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/piccolo</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/plan</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/presentation</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/profile</p>

            <p>Details:</p>
            <kbd>Note: This endpoint is only accessible to Dank Memer. Do NOT implement this!</kbd>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>username2: String. Username for the second user.</kbd><br>



                <kbd>bio: Endpoint specific parameter</kbd><br>



                <kbd>title: Endpoint specific parameter</kbd><br>



                <kbd>level: Endpoint specific parameter</kbd><br>



                <kbd>xp: Endpoint specific parameter</kbd><br>



                <kbd>total_xp: Endpoint specific parameter</kbd><br>



                <kbd>color: Endpoint specific parameter</kbd><br>



                <kbd>bank: Endpoint specific parameter</kbd><br>



                <kbd>wallet: Endpoint specific parameter</kbd><br>



                <kbd>inventory: Endpoint specific parameter</kbd><br>



                <kbd>prestige: Endpoint specific parameter</kbd><br>



                <kbd>active_effects: Endpoint specific parameter</kbd><br>



                <kbd>command: Endpoint specific parameter</kbd><br>



                <kbd>streak: Endpoint specific parameter</kbd><br>



                <kbd>multiplier: Endpoint specific parameter</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/quote</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>username1: String. Username for the first user.</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/radialblur</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/rip</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/roblox</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/salty</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/satan</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/savehumanity</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/screams</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>avatar2: Image URL. Used when two users are involved. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/shit</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/sickban</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/slap</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>avatar2: Image URL. Used when two users are involved. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/slapsroof</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/sneakyfox</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/spank</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>avatar2: Image URL. Used when two users are involved. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/stroke</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/surprised</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/sword</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>



                <kbd>username1: String. Username for the first user.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/theoffice</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/thesearch</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/trash</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/trigger</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/tweet</p>

            <p>Details:</p>
            <kbd><br>    Note: You can actually use username2 as a way to set the @handle separately from the name<br>    </kbd>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>username1: String. Username for the first user.</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>



                <kbd>username2: String. Username for the second user.</kbd><br>



                <kbd>altstyle: Endpoint specific parameter</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/ugly</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/unpopular</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/violence</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/violentsparks</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/vr</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/walking</p>

                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/wanted</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/warp</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/whodidthis</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/whothisis</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/yomomma</p>

            <p>Details:</p>
            <kbd><br>    This endpoint only returns a yo momma joke. No parameters are required.<br>    </kbd>
          </div>

          <div style="background-color: #23272A; padding: 0.75rem; border-radius: 3px;" class="card">
            <p><b style="color: lawngreen">AT </b>https://imgen.herokuapp.com/youtube</p>

                <kbd>avatar1: Image URL. Usually a Discord Avatar. Supports at least JPG, PNG and BMP!</kbd><br>



                <kbd>username1: String. Username for the first user.</kbd><br>



                <kbd>text: String. Text to show on the generated image.</kbd><br>


          </div>

      </div>
    </div>
</div>
</body>