<head>
  {% include "partials/header.html" %}
  <script src="/assets/tablesort.js"></script>
</head>

<body>
  <div class="content">
    {% include "partials/navbar.html" %}
    <div class="showcase">
        <img class="showcase-img" alt="IMGEN-LOGO" src="./assets/ambu.png" />
        <a href="https://heroku.com/deploy?template=https://github.com/blacksmithop/imgen"> <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy"> </a>
        <br><img src="https://travis-ci.com/blacksmithop/imgen.svg?branch=master">
        <h1 class="slogan">AN <span>ALTERNATE</span> IMAGE GENERATION API </h1>
        <code class="code-sample ">powered --by <span>"Python3: aiohttp"</span> 🐍</code>
        <div class="buttons">
            <a href="/docs" class="showcase-button">Docs</a>
        </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
